<div class="jumbotron jumbotron-other container-fluid">
    <div class="container">
        <h1 class="display-3 text-white">Grab a Drink</h1>
    </div>
</div>

<!-- five random drink starts -->
<div class="row">
    <div class="col-md-8">
        <div class="card-columns" *ngIf="cocktailsArrays.length > 0; else loader">
            <div class="card" *ngFor="let cocktail of cocktailsArrays">
                <img class="card-img-top" src="{{ cocktail.strDrinkThumb }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ cocktail.strDrink }}</h5>
                    <p class="card-text"><small class="text-muted">Modified: {{ cocktail.dateModified }}
                    </small></p>
                    <a [routerLink]="['/cocktail-details/',cocktail.idDrink]" class="btn btn-primary btn-sm">
                        Details
                    </a>
                </div>
            </div>
        </div>
        <ng-template #loader> <br>
             <abbr title="">loading cocktail</abbr>
            </ng-template>
    </div>
    <!-- five random drink ends -->

    <!-- fetch random drink starts-->
    <div class="col-md-3">
        <div class="container-fluid">
            <button class="badge-info btn-sm " (click)="getRandomCocktail()">Sample a Random Coctail</button>
            <div class="card" *ngIf="(randomCocktail | json) != '{}'; else loader">
                <!-- start carousel -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="card-img-top img-fluid" src="{{ randomCocktail.strDrinkThumb }}"
                                alt="Card image cap">
                            <div>
                                <h5 class="card-title">{{ randomCocktail.strDrink }}</h5>
                                <p class="card-text"><small class="text-muted">Modified: {{ randomCocktail.dateModified
                                        }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" (click)="getRandomCocktail()" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" (click)="getRandomCocktail()" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <ng-template #loader> 
                    <abbr>
                        please wait loading drinks... 
                    </abbr>
                 </ng-template>

                <!-- end carousel  -->
            </div>
        </div>
        <!-- fetch random drink ends-->
    </div>
</div>