<!-- A grey horizontal navbar that becomes vertical on small screens -->

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-expand-sm navbar-dark fixed-top">
      <div class="container">
        <span>
          <a [routerLink]="['/coctails']" class="navbar-brand">
            <img src="../assets/images/oldfashioned.jpg" width="50" height="30" class="d-inline-block align-top"
              alt="logo">
            <span class="display-5">
              Cocktail Palace
            </span>
          </a>
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/coctails']">Home </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" [routerLink]="['/custom-drink']">Create Cocktail
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/display-local']"> Local Favourites</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <router-outlet></router-outlet>
  </main>
  <body>